<%- include('partials/header'); -%>

<h1>Compose</h1>

<form action="/compose" method="post">
  <div class="mb-3">
    <label for="titleContent" class="form-label">Title</label>
    <input type="text" name="titleContent" id="titleContent" class="form-control">
  </div>
  <div class="mb-3">
    <label for="postContent" class="form-label">Post</label>
    <textarea rows="5" name="postContent" id="postContent" class="form-control" ></textarea>
  </div>
  <button
    type="submit"
    value="publishContent"
    id="publishContent"
    class="btn btn-primary publish-button"
  >
    Publish
  </button>
</form>

<%- include('partials/footer'); -%>
